/activity.css
/Activity.js
/ActivityJs.html
/ans.css
/apple.jpeg
/assign.css
/assignment.html
/Backend
/boo.html
/boot.css
/captainAmerica.jpeg
/cat.jpg
/creation_1.png
/creation_2.jpeg
/creation_3.jpeg
/css3.html
/Darpan_Rules_20230902_122116_0000[1].docx
/Darpan_Rules_20230902_122116_0000[1].pdf
/dog.jpg
/DSA by Shradha Didi & Aman Bhaiya - Google Sheets.pdf
/filegit.html
/flex.css
/Flowchart-1-2 2.pdf
/grid.css
/grid.html
/gridAssign.html
/guess.js
/guessGame.html
/index (1).html
/index (3).html
/inheritance_demo.html
/jatin.css
/jatin.jpg
/jatinG.png
/javaSc.css
/javaSc.html
/javaSc.js
/jj.html
/kit_manual_UP_math.pdf
/kyle.css
/line&angle.jpg
/man.jpg
/mango.jpeg
/Marksheet2nd.pdf
/miniProj.css
/miniProj.js
/miniProject.html
/mp.css
/mypage.html
/nextstepl.html
/nitinTest.jpg
/Online_resume.css
/Online_resume.html
/orange.jpeg
/pet.css
/photo.jpg
/PracticeQs.html
/ques.html
/question.html
/resume.jpg
/roshni.html
/rough.html
/rough.js
/script.js
/SecondaryMathematicsKit.pdf
/shivam.html
/shivam.js
/shivamDoubt.html
/simon.css
/simon.js
/SimonGame.html
/skill1.png
/skill2.png
/smile.css
/smiley.html
/sortingAlgo.class
/sortingAlgo.java
/spiderman_img.png
/style.css
/taratata-6264.mp3
/todo.html
/todo.js
/transition.css
/transition.html
/woman.jpg
/x.css